* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.list table{
    text-align: center;
    margin: 0 auto ;
}
.list table tr td {
    padding: 10px 10px;

}

a {
    display: block;
    background-color: #fff;
    width: 600px;
    height: 40px;
    text-decoration: none;
    color: #36abe0;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}
a:hover {
    background-color: rgb(169, 247, 247);
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 0 0 0;
    height: 250px;
    text-align: center;
}

.container h1 {
    font-size: 50px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-put;
    transition-timing-function: ease-in-put;
    font-weight: 200;
}

body {
    color: white;
    background: #3dc0ea;
    background: -webkit-linear-gradient(top left, #3dc0ea 0%, #11569b 100%);
    background: linear-gradient(to bottom right, #3dc0ea 0%, #11569b 100%);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}